.di {
  background-color: black; 
  color: white;
}

.bot {
  background-color:#F29422; 
  color: white;
}

.home{
  color:#F29422;
  font-size: 20px;
}

.mens{
  color: #F29422;
  font-size: 20px;
  background-color: black;
}

.mens:hover{
  color: black;
  background-color: #F29422;
}

.btn1{
  background-color: #F29422; 
  color: black;
  padding: 8px 11px;
  border-radius: 5px;
}

#titulo{
  align-items: center; 
  background-color: #F29422; 
  color: black;
}

.fondo{
  background-color: black;
}

#fondo2{
  background-color: black;
}

#seltexto {
  border-color:#F29422;
  border-radius: 15px;
}

#seltexto:focus{
  border-radius: 5px;
  border-color: rgb(255, 144, 0);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(255,144,0,0.6);
  outline: 0 none;
}

#boton {
  background-color:#A62424;
  border-color: rgb(255, 144, 0);
}

#boton:hover{
  border-radius: 5px;
  border-color: rgb(255, 144, 0);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px #A62424;
  outline: 0 none;
}

#tarjeta {
  background-color:#A62424;
  border-color: rgb(255, 144, 0);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px #A62424;
  width: 19rem;
}

#res {
  border-color: #A62424;
}

.txtim{
  align-items: center;
}

#men {
  background-color: #A62424;
}

#mean{
  background-color: black; 
  color: white; 
  font-size: 20px;
}

.centro{
  text-align: center;
}

.tit {
  color: #A62424;
}

.subtit1{
  font-size: 18px;
}

.subtit{
  text-align: center;
  color: #A62424;
}
#selec {
  border-color:#F29422;
  border-radius: 15px;
  
}

#selec:focus{
  border-radius: 5px;
  border-color: rgb(255, 144, 0);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(255,144,0,0.6);
  outline: 0 none;
}